*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 687px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image:url(back\ 4.jpg);
    size: 100px;
}

nav{
    display: flex;
    gap: 600px;
    align-items: center;
}

.container nav ul{
    display: flex;
}

.container nav ul li{
    list-style-type: none;
    padding-right: 35px;
}

.container nav ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.container nav ul li a:hover{
    text-decoration: none;
    color: #646464;
    
}

.nav-button{
    padding: 5px 10px ;
    background: transparent;
    color: #fff;
    border :solid #fff 1.5px ;
    cursor: pointer;
}

.logo{
    padding: 10px 0px 10px 55px;
}

.logo img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: solid navajowhite 2px;
}

.container2{
    width: 800px;
    text-align: center;
    margin: 20px auto;
    margin-top: 150px;
    color: rgb(238, 227, 196);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Glass blur effect */
  -webkit-backdrop-filter: blur(10px);
}

.container2 h1{
    margin: 20px;
}

.container2 p{
    line-height: 20px;
    padding: 0px 30px 30px 30px;
}

/*
.shop1{


}

.display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    width: 300px;
    height: 400px;
    border: black 1px solid;
}

.card img{
    width: 250px;
    height: 250px;
}*/

.shop1 {
    text-align: center;
    padding: 40px ;
    background: rgb(168, 143, 113);
}

.display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: auto;
    margin: 0 auto;
}

.card {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    background: rgb(252, 235, 212);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.card img:hover{
    transform: translateY(-5px);
}

.shop1 h1{
    padding: 20px;
}

.card button{
    color: rgb(255, 232, 209);
    border: 1px solid rgb(3, 3, 3);
    border-radius: 5px;
    padding: 7px;
    background-color: rgb(92, 59, 59);
    cursor: pointer;
}

.card button:hover{
    color: rgb(92, 59, 59);
    background-color: rgb(255, 232, 209);
    border: 2px solid rgb(3, 3, 3);
}


.footer{
    background-color: rgb(24, 15, 4);
    color: blanchedalmond;
    max-height: 300px;
    width: 1330px;
}

.footer .conttt{
    padding: 50px;
    display: flex;
    gap: 80px; 
}
.detals h1{
    cursor: pointer;
}

.detals h1:hover{
    color: #fff;
}

.icn img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.icn img:hover{
    transform: translateY(-4px);
}

.detals h3{
    padding: 10px;
    cursor: pointer;
}

.detals h3:hover{
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
}
.detals p{
    padding: 10px;
    cursor: pointer;
}

.detals p:hover{
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
}