*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 600px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: rgb(194, 161, 120);
    size: 100px;
}

nav{
    display: flex;
    gap: 600px;
    align-items: center;
}

.container nav ul{
    display: flex;
}

.container nav ul li{
    list-style-type: none;
    padding-right: 35px;
}

.container nav ul li a{
    text-decoration: none;
    color:  rgb(24, 15, 4);
    cursor: pointer;
}

.container nav ul li a:hover{
    text-decoration: none;
    color:  rgb(255, 243, 229);
    
}

.nav-button{
    padding: 5px 10px ;
    background: transparent;
    color: #fff;
    border :solid #fff 1.5px ;
    cursor: pointer;
}

.logo{
    padding: 10px 0px 10px 55px;
}

.logo img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: solid  rgb(24, 15, 4) 2px;
}

.image img{
    width: 400px;
    height: 400px;
}

.abt{
    display:flex ;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    text-align: center;
}

.txt h1{
    color: rgb(24, 15, 4);
}

.txt p{
    margin: 10px;
    line-height: 23px;
}

.txt button{
    background-color: rgb(24, 15, 4);
    color:  rgb(255, 243, 229);
    padding: 7px 10px 7px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.txt button:hover{
    background-color: rgb(255, 243, 229);
    color:  rgb(24, 15, 4);
}

.card img{
    width: 50px;
    height: 50px;
    background-color: rgb(250, 213, 169);
    border-radius: 50%;
    padding: 08px;
}

.card {
    width: 200px;
    height: 200px;
    border: black solid 1px;
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
    
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 50px;
}

.src{
    padding: 20px;
    background-color: rgb(194, 161, 120);
}

.src h1{
    text-align: center;
    padding: 10px;
}

.src p{
    text-align: center;
}

.card p{
    padding: 10px;
}

.card img{
    margin-top: 20px;
}

.br{
    height: 10px;
    background-color:  rgb(24, 15, 4);
    border: #ffffff 1px solid;
}

.container4{
    background-image:url(Untitled\ design\ \(3jjjjjjj\).png);
    height: 250px;
    width: 1330px;
    padding: 80px 100px 100px 180px;
    color:rgb(24, 15, 4);
    text-align: center;
  
}

.container4 h1{
    font-size: large;
}

.container4 button{
    color: #fff;
    background-color: rgb(24, 15, 4);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.container4 button:hover{
    color: #fff;
    background-color: rgb(71, 55, 36);
   
}

.footer{
    background-color: rgb(24, 15, 4);
    color: blanchedalmond;
    max-height: 300px;
    width: 1330px;
}

.footer .conttt{
    padding: 50px;
    display: flex;
    gap: 80px; 
}
.detals h1{
    cursor: pointer;
}

.detals h1:hover{
    color: #fff;
}

.icn img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.icn img:hover{
    transform: translateY(-4px);
}

.detals h3{
    padding: 10px;
    cursor: pointer;
}

.detals h3:hover{
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
}
.detals p{
    padding: 10px;
    cursor: pointer;
}

.detals p:hover{
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
}