*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 687px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image:url(back\ 3.jpg);
    size: 100px;
}

nav{
    display: flex;
    gap: 600px;
    align-items: center;
}

.container nav ul{
    display: flex;
}

.container nav ul li{
    list-style-type: none;
    padding-right: 35px;
}

.container nav ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.container nav ul li a:hover{
    text-decoration: none;
    color: #c0e639;
    
}

.nav-button{
    padding: 5px 10px ;
    background: transparent;
    color: #fff;
    border :solid #fff 1.5px ;
    cursor: pointer;
}

.logo{
    padding: 10px 0px 10px 55px;
}

.logo img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: solid navajowhite 2px;
}

.textt {
    margin: 70px;
    text-align: center;
}

.textt h1{
    margin: 30px;
    color: #ffffff;
    font-size: 40px;
}

.textt p{
    margin: 25px;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
}

.textt button{
    background-color: white;
    padding: 10px 15px ;
    color: rgb(0, 0, 0);
    border: solid white 1px;
    border-radius: 20px;
    cursor: pointer;
}

.textt button:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: solid white 1px;
   font-weight: bolder;
    
}

.container2{
    background-color: rgb(255, 248, 238);
}

.Images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
}

.Images img{
    height: 80px;
    width: 80px;
}

.p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    padding-bottom: 50px;
    margin: 20px;
    color: rgb(160, 121, 71);

}

.container3{
    background-color: #fff;
}

.container3 h1{
    text-align: center;
    padding-top: 50px;
}
.display{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.card{
    max-width: 300px;
    max-height: 500px;
    border: solid black 0.3px;
    padding: 5px;
    margin: 10px;
    background-color: #fff7ec;
}

.card img{
    width: 250px;
    height: 300px;
}

.card h3{
    margin-top: 10px;
    font-weight: lighter;
}

.card p{
    margin-top: 10px;
    font-size: small;
    font-weight: lighter;
}

.rs button{
    margin: 10px;
    background-color: rgb(17, 3, 1);
    color: #ffffff;
    padding: 7px 5px 5px 7px;
    border-radius: 5px;
    cursor: pointer;
}

.rs button:hover{
    margin: 10px;
    background-color: rgb(129, 72, 63);
    color: #ffffff;
   
}


.rs{
    display: flex;
    gap: 100px;
}

.rs p{
    color: rgb(17, 3, 1);
    font-size: large;
    font-weight: bold;
}

.container5{
    background-color: #fff;
}

.container5 h1{
    text-align: center;
    padding-top: 50px;
}
.display{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.card{
    max-width: 300px;
    max-height: 500px;
    border: solid black 0.3px;
    padding: 5px;
    margin: 10px;
    background-color: #fff7ec;
}

.card img{
    width: 280px;
    height: 370px;
}

.card h3{
    margin-top: 10px;
    font-weight: lighter;
}

.card p{
    margin-top: 10px;
    font-size: small;
    font-weight: lighter;
}

.rs button{
    margin: 10px;
    background-color: rgb(17, 3, 1);
    color: #ffffff;
    padding: 7px 5px 5px 7px;
    border-radius: 5px;
}
.rs{
    display: flex;
    gap: 100px;
}

.rs p{
    color: rgb(17, 3, 1);
    font-size: large;
    font-weight: bold;
}

.container4{
    background-image:url(Untitled\ design\ \(1\).png);
    height: 250px;
    width: 1330px;
    padding: 80px 100px 100px 500px;
    color:rgb(24, 15, 4);
  
}

.container4 button{
    color: #fff;
    background-color: rgb(24, 15, 4);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.container4 button:hover{
    color: #fff;
    background-color: rgb(71, 55, 36);
   
}
/*
.rating{
    padding: 70px;
    align-items: center;
    text-align: center;
}
.rtcard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.cards{
    border: solid 1px black;
    max-width: 370px;
    padding: 10px;
}
.cards p{
    text-align: left;
    margin: 0;
    padding: 0;
}
.card-main{
    display: flex;
    gap: 10px;

}
.fff{
    display: flex;
    gap: 0px;
}

.first{
    display: flex;
    gap: 60px;
}
.first p{
    text-align: left;
    margin-right: 10px;
    gap: 100px;
}
.first img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid black 0.3px;
}

.second img{
    height: 130px;
    width: auto;   
    padding: 30px 50px 50px 100px;
}*/

.container77{
    text-align: center;
    padding: 30px;
    color: rgb(24, 15, 4);
}
.container7{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding-left: 30px;
    
}

.carddd{
    width: 350px;
    height: 200px;
    border: 2px solid black;
    margin: 20px;
    background-color: rgb(249, 247, 247);
}

.carddd p{
    text-align: left;
    padding: 0px 10px 10px 10px;
}

.per{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    max-width: 320px;
}


.per img{
    width: 50px;
    height: 50px;
    border: 0.3px solid black;
    border-radius: 50%;
    margin: 10px;
}

.container11{
    background-image: url(Untitled\ design\ \(2\).png);
    height: 250px;
    width: 1330px;
    padding: 70px 100px 100px 120px;
    color:rgb(24, 15, 4);
  
}

input {
  border: 1px solid black;
  border-radius: 15px;
  outline: none;
  font-size: 10px;
  height: 30px;
  width: 400px;
  background-color: white;
}

.email-input{
    padding-left: 10px;
}

.btn{
    padding: 8px;
    border-radius: 15px;
    background-color: rgb(24, 15, 4);
    color: #fff;
}
.container11 h1{
    padding: 8px;
}

.container11 p{
    padding: 8px;
}


.footer{
    background-color: rgb(24, 15, 4);
    color: blanchedalmond;
    max-height: 300px;
    width: 1330px;
}

.footer .conttt{
    padding: 50px;
    display: flex;
    gap: 80px; 
}
.detals h1{
    cursor: pointer;
}

.detals h1:hover{
    color: #fff;
}

.icn img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.icn img:hover{
    transform: translateY(-4px);
}

.detals h3{
    padding: 10px;
    cursor: pointer;
}

.detals h3:hover{
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
}
.detals p{
    padding: 10px;
    cursor: pointer;
}

.detals p:hover{
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
}