*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 687px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image:url(back\ 3.jpg);
    size: 100px;
}

nav{
    display: flex;
    gap: 600px;
    align-items: center;
}

.container nav ul{
    display: flex;
}

.container nav ul li{
    list-style-type: none;
    padding-right: 35px;
}

.container nav ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.container nav ul li a:hover{
    text-decoration: none;
    color: #c0e639;
    
}

.nav-button{
    padding: 5px 10px ;
    background: transparent;
    color: #fff;
    border :solid #fff 1.5px ;
    cursor: pointer;
}

.logo{
    padding: 10px 0px 10px 55px;
}

.logo img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: solid navajowhite 2px;
}

.content{
    background-color: rgb(31, 34, 34);
    max-width: 1000px;
    margin: 20px auto;
    color: #ffffff;
}

.imgh img{
    width: 500px;
    height: 500px;
}

.login{
    display: flex;
    gap: 50px;
    padding: 10px;
}

.lebel{
    padding: 25px;
}

.lebel h1{
    padding: 15px;
}

.lebel p{
    padding: 15px;
}

.lebel p a{
    color: rgb(211, 211, 211);
}

.lebel p a:hover{
    color: rgb(255, 255, 255);
}

.name input{
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    padding-left: 13px;
}

.name{
    padding: 15px;
}

.em input{
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 15px;
    width: 300px;
}

.em {
    padding: 0px 15px 15px 15px;
}

.em br{
    padding: 15px;
}

.chk {
    padding: 0px 15px 15px 15px;
}

.chk label a{
    color: rgb(211, 211, 211);
}

.chk label a:hover{
    color: rgb(255, 255, 255);
}

.lebel button{
    padding: 10px 15px 10px 15px;
    margin: 0px 15px 15px 15px;
    width: 300px;
    background-color: rgb(41, 41, 102);
    color: #fff;
    border: 0.1px solid white;
    cursor: pointer;
}

.lebel button:hover{
    background-color: rgb(31, 34, 34);
}

.btn{
    display: flex;
    padding: 15px 15px 15px 0px;
}

.btn button{
    width: 140px;
    background-color: transparent;
    border: 0.1px solid white;
    cursor: pointer;
}

.btn button:hover{
    font-size: 14px;
}

.btn button img{
    height: 15px;
    width: 15px;
}

.imgh {
    position: relative;
    display: inline-block;
}

.imgh img {
    display: block;
    width: 100%; 
    height: auto;
    border-radius: 8px; 
}

.imgh p {
    position: absolute;
    bottom: 10px; 
    color: white;
    font-size: 40px;
    text-align: center;
    left: 100px;
}

.map-container {
      width: 100%;
      height: 600px;
      border: 2px solid #333;
}

iframe {
      width: 100%;
      height: 350px;
      border: 0;
}


.footer{
    background-color: rgb(24, 15, 4);
    color: blanchedalmond;
    max-height: 300px;
    width: 1330px;
}

.footer .conttt{
    padding: 50px;
    display: flex;
    gap: 80px; 
}
.detals h1{
    cursor: pointer;
}

.detals h1:hover{
    color: #fff;
}

.icn img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.icn img:hover{
    transform: translateY(-4px);
}

.detals h3{
    padding: 10px;
    cursor: pointer;
}

.detals h3:hover{
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
}
.detals p{
    padding: 10px;
    cursor: pointer;
}

.detals p:hover{
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
}